<section
  class="
    mt-20
    lg:mt-0
    flex flex-col
    items-center
    justify-center
    min-h-screen
    text-center text-lg
    lg:text-left
    lg:flex-row-reverse
    m-auto
  "
>
  <div class="w-auto items-center lg:mx-20">
    <img
      src="/assets/art/art--bears.png"
      alt=""
      class="max-h-96 w-auto"
      width="900"
      height="900"
    />
  </div>
  <div class="mx-12 p-4 lg:max-w-half">
    <h3 class="font-black font-display text-5xl md:text-6xl mt-4">
      Being an enthusiastic fan to Earn.
    </h3>
    <p class="max-w-prose my-6">
      Dev Protocol is bringing an amazing number of use cases to crypto.
      By staking DEV tokens to your favorite creators, you can earn DEV tokens
      for as long as you support the creators. Pick the creator's exclusive
      perk for additional fun.
    </p>
    <a href="https://stakes.social/" class="mt-6 mx-4 ml-0">
      <button class="bg-black text-white py-2 px-6 rounded">
        Start Staking
      </button>
    </a>
  </div>
</section>
