<section class="flex flex-col items-center py-4 px-10 md:text-left">
  <div class="flex flex-col items-start">
    <h3 class="font-black font-display text-6xl mb-16">Step by Step Staking</h3>
      <div class="flow-root">
        <ul role="list" class="-mb-8">
          <li>
            <div class="relative pb-8">
              <span class="absolute top-5 left-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
              <div class="relative flex items-start space-x-3">
                <div>
                  <span class="group relative w-8 h-8 flex items-center justify-center bg-white border-2 border-gray-300 rounded-full hover:border-gray-400"></span>
                  <span class="h-2.5 w-2.5 bg-transparent rounded-full group-hover:bg-gray-300" aria-hidden="true"></span>
                </div>
                <div class="min-w-0 flex-1">
                  <div>
                    <div class="text-sm">
                      <h4 class="font-display font-black text-4xl mt-5 mb-10">Step 1</h4>
                    </div>
                  </div>
                  <div>
                    <p class="max-w-para">
                      Staking is the act of actively setting aside your DEV tokens in your Wallet to deposit them in your favorite Creator pool on stakes.social.
                      To buy DEV Token, you need an ETH on your wallet to convert it to $DEV.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="relative pb-8">
              <span class="absolute top-5 left-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
              <div class="relative flex items-start space-x-3">
                <div>
                  <span class="group relative w-8 h-8 flex items-center justify-center bg-white border-2 border-gray-300 rounded-full hover:border-gray-400"></span>
                  <span class="h-2.5 w-2.5 bg-transparent rounded-full group-hover:bg-gray-300" aria-hidden="true"></span>
                </div>
                <div class="min-w-0 flex-1">
                  <div>
                    <div class="text-sm">
                      <h4 class="font-display font-black text-4xl mt-5 mb-10">Step 2</h4>
                    </div>
                  </div>
                  <div>
                    <p class="max-w-para">
                      After you buy DEV Token, add the DEV token address in your wallet. You need to find a project that you like on Stakes.social.
                      If you find a project interesting, you can click on the banner, the project page will show up, there you can find the description
                      and some useful things like Github, Twitter pages, YouTube channel, Website, etc. This could help you decide to stake your $DEV.
                      On the blue box, you can type a specific amount of DEV you want to stake on that project, or you can just click on DEV, and the total
                      amount of DEV in your wallet will automatically show on that box.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="relative pb-8">
              <span class="absolute top-5 left-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
              <div class="relative flex items-start space-x-3">
                <div class="relative flex items-start space-x-3">
                <div>
                  <span class="group relative w-8 h-8 flex items-center justify-center bg-white border-2 border-gray-300 rounded-full hover:border-gray-400"></span>
                  <span class="h-2.5 w-2.5 bg-transparent rounded-full group-hover:bg-gray-300" aria-hidden="true"></span>
                </div>
                </div>
                <div class="min-w-0 flex-1">
                  <div>
                    <div class="text-sm">
                      <h4 class="font-display font-black text-4xl mt-5 mb-10">Step 3</h4>
                    </div>
                  </div>
                  <div>
                    <p class="max-w-para">
                      After that, you can click on the blue Stake button and a transaction approval message will pop up in your wallet, you can check 
                      out the amount of gas required to Stake, by clicking approve, your DEV will be deposited on the contract and it will be staked. 
                      Once staked refresh the page and your DEV will show on the ‘Your Staking Amount’ box. You will instantly start receiving Rewards 
                      and so will the Creator that you chose, those can also be seen on the dashboard.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="relative pb-8">
              <div class="relative flex items-start space-x-3">
                <div class="relative">
                  <span class="relative w-9 h-9 flex items-center justify-center bg-indigo-600 rounded-full hover:bg-indigo-900">
                    <!-- Heroicon name: solid/check -->
                    <svg class="w-5 h-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                    </svg>
                  </span>
                </div>
                <div class="min-w-0 flex-1">
                  <div>
                    <div class="text-sm">
                      <h4 class="font-display font-black text-4xl mt-5 mb-10">Step 4</h4>
                    </div>
                  </div>
                  <div>
                    <p class="max-w-para">
                      If you still can’t decide, my tip is, visit the official Discord or Telegram channel and ask the community. 
                      Always try to stake and reward active developers that promote DEV, this will be good for everyone on the long run.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
  </div>
</section>