<section
  class="bg-texture-gradient-light bg-cover bg-center dark:bg-texture-gradient-dark"
>
  <div
    class="grid items-center justify-center gap-4 bg-[#ffffff3d] p-4 py-16 text-black backdrop-blur-md dark:bg-[#0000003d] dark:text-white md:grid-cols-2 md:text-left lg:px-0"
  >
    <div class="grid h-full content-center">
      <img
        src="/assets/devtoken.png"
        alt=""
        class="mx-auto max-h-40 dark:rounded-full dark:border dark:border-slate-500 md:max-h-56"
      />
    </div>
    <div class="grid h-full justify-items-start">
      <div class="max-w-xl">
        <h3 class="my-4 text-xl opacity-70">DEV Token</h3>
        <p class="my-4 text-3xl font-bold">
          The currency for a sustainable ecosystem
        </p>
        <p class="my-6 opacity-70">
          DEV can be used to support creators and improve the sustainability of
          their activities. Any creators even who makes free assets can realize
          the true value of their works.
        </p>
      </div>
    </div>
  </div>
</section>
