<section class="bg-maxie bg-cover bg-center">
  <div
    class="
      grid
      gap-4
      md:grid-cols-2
      items-center
      justify-center
      lg:px-0
      md:text-left
      p-4
      py-16
      text-white
      bg-[#0000003d]
    "
  >
    <div class="h-full grid content-center">
      <img
        src="/assets/maxietoken.png"
        alt=""
        class="max-h-36	md:max-h-44 mx-auto dark:rounded-full dark:border dark:border-slate-500"
      />
    </div>
    <div class="h-full grid justify-items-start">
      <div class="max-w-xl">
        <h3 class="opacity-70 text-xl my-4">MAXIE Tokens</h3>
        <p class="font-bold text-3xl my-4">
          The currency for a sustainable ecosystem
        </p>
        <p class="opacity-70 my-6">
          DEV can be used to support creators and improve the sustainability of
          their activities. Any creators even who makes free assets can realize
          the true value of their works.
        </p>
      </div>
    </div>
  </div>
</section>
