<section class="bg-maxie bg-cover bg-center">
  <div
    class="grid items-center justify-center gap-4 bg-[#0000003d] p-4 py-16 text-white md:grid-cols-2 md:text-left lg:px-0"
  >
    <div class="grid h-full content-center">
      <img
        src="/assets/maxietoken.png"
        alt=""
        class="mx-auto max-h-36 md:max-h-44"
      />
    </div>
    <div class="grid h-full justify-items-start">
      <div class="max-w-xl">
        <h3 class="my-4 text-xl opacity-70">MAXIE Tokens</h3>
        <p class="my-4 text-3xl font-bold">Index for Creator Economy</p>
        <p class="my-6 opacity-70">
          MAXIE can support all creators with one transaction, boosting global
          creativity and allowing index investment in the Creator Economy
          created there.
        </p>
        <p class="my-6 opacity-70">
          View <a
            class="underline"
            target="_blank"
            rel="norefferer noopener"
            href="https://community.devprotocol.xyz/t/rfc-wip-maxie-the-instrumentality-tokens-for-dev-maximized-creator-economy-tokens/"
            >the discussion</a
          > and wait for the release.
        </p>
      </div>
    </div>
  </div>
</section>
