<section class="bg-maxie bg-cover bg-center">
  <div
    class="grid gap-4 md:grid-cols-2 items-center justify-center lg:px-0 md:text-left p-4 py-16 text-white bg-[#0000003d]"
  >
    <div class="h-full grid content-center">
      <img
        src="/assets/maxietoken.png"
        alt=""
        class="max-h-36 md:max-h-44 mx-auto"
      />
    </div>
    <div class="h-full grid justify-items-start">
      <div class="max-w-xl">
        <h3 class="opacity-70 text-xl my-4">MAXIE Tokens</h3>
        <p class="font-bold text-3xl my-4">Index for Creator Economy</p>
        <p class="opacity-70 my-6">
          MAXIE can support all creators with one transaction, boosting global
          creativity and allowing index investment in the Creator Economy
          created there.
        </p>
        <p class="opacity-70 my-6">
          View <a
            class="underline"
            target="_blank"
            rel="norefferer noopener"
            href="https://community.devprotocol.xyz/t/rfc-wip-maxie-the-instrumentality-tokens-for-dev-maximized-creator-economy-tokens/"
            >the discussion</a
          > and wait for the release.
        </p>
      </div>
    </div>
  </div>
</section>
