@font-face {
  font-family: "Whyte";
  src: url("https://devstaticasset.azureedge.net/font/ABCWhyte-Regular.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "WhyteInktrap";
  src: url("https://devstaticasset.azureedge.net/font/ABCWhyteInktrap-Bold.woff2")
    format("woff2");
  font-style: bold;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "WhyteInktrap";
  src: url("https://devstaticasset.azureedge.net/font/ABCWhyteInktrap-Regular.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexmono/v7/-F63fjptAgt5VM-kVkqdyU8n1i8q1w.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 767px) {
  .nav-responsive {
    position: absolute;
    right: 0;
    top: 100%;
    background: white;
    border: solid 1px gainsboro;
    padding: 2rem 1rem;
    gap: 1rem;
    width: 100%;
    transform: translateX(100%);
    box-shadow: 0 10px 20px -10px #878787;
  }

  .nav-hide {
    animation: slide-right 0.5s ease-in-out forwards;
  }

  .nav-show {
    animation: slide-left 0.5s cubic-bezier(0.77, 0.2, 0.05, 1) forwards;
  }

  #hamburger {
    width: 3rem;
    height: 2rem;
    position: relative;
    margin-left: auto;
    transform: rotate(0deg) scale(0.5);
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #hamburger span {
    display: block;
    position: absolute;
    height: 0.4rem;
    width: 100%;
    background: rgb(138, 138, 138);
    border-radius: 0.25rem;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #hamburger span:nth-child(1) {
    top: 0px;
  }

  #hamburger span:nth-child(2),
  #hamburger span:nth-child(3) {
    top: 0.75rem;
  }

  #hamburger span:nth-child(4) {
    top: 1.5rem;
  }

  #hamburger.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  #hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #hamburger.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  @keyframes slide-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slide-right {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

@layer components {
  .navbar-item {
    @apply relative z-10 flex items-center overflow-hidden focus:outline-none focus:border-white text-sm md:text-base mx-1;
  }
  .navbar-item-background {
    @apply fixed inset-0 h-full w-full bg-black opacity-50 overscroll-none cursor-default;
  }
  .sub-navbar-block {
    @apply fixed mt-2 p-1 flex flex-col z-40 bg-white rounded-lg shadow-xl dark:bg-darkThird;
  }
  .sub-navbar-item {
    @apply block p-1 text-gray-800 dark:text-gray-300 hover:bg-indigo-500 hover:text-white;
  }
  .dropdown-arrow {
    @apply h-3 w-3 md:h-4 md:w-4 mx-1 text-black dark:invert;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
