@import url('https://fonts.googleapis.com/css2?family=Syne:wght@500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 767px) {
  .nav-responsive {
    position: absolute;
    right: 0;
    top: 100%;
    background: white;
    border: solid 1px gainsboro;
    padding: 2rem 1rem;
    gap: 1rem;
    width: 100%;
    transform: translateX(100%);
    box-shadow: 0 10px 20px -10px #878787;
  }

  .nav-hide {
    animation: slide-right 0.5s ease-in-out forwards;
  }

  .nav-show {
    animation: slide-left 0.5s cubic-bezier(0.77, 0.2, 0.05, 1) forwards;
  }

  #hamburger {
    width: 3rem;
    height: 2rem;
    position: relative;
    margin-left: auto;
    transform: rotate(0deg) scale(0.5);
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #hamburger span {
    display: block;
    position: absolute;
    height: 0.4rem;
    width: 100%;
    background: rgb(138, 138, 138);
    border-radius: 0.25rem;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #hamburger span:nth-child(1) {
    top: 0px;
  }

  #hamburger span:nth-child(2),
  #hamburger span:nth-child(3) {
    top: 0.75rem;
  }

  #hamburger span:nth-child(4) {
    top: 1.5rem;
  }

  #hamburger.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  #hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #hamburger.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  @keyframes slide-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slide-right {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

@layer components {
  .navbar-item {
    @apply relative z-10 mx-1 flex items-center overflow-hidden text-xl focus:border-white focus:outline-none;
  }
  .navbar-item-background {
    @apply fixed inset-0 h-full w-full cursor-default overscroll-none bg-black opacity-50;
  }
  .sub-navbar-block {
    @apply fixed z-40 mt-2 flex flex-col overflow-clip rounded-lg bg-white shadow-xl dark:bg-darkThird;
  }
  .sub-navbar-item {
    @apply block p-4 text-xl text-gray-800 hover:bg-indigo-500 hover:text-white dark:text-gray-300;
  }
  .dropdown-arrow {
    @apply mx-1 h-3 w-3 text-black dark:invert md:h-4 md:w-4;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
