

<div class="max-w-md mx-auto overflow-hidden md:max-w-6xl m-7">
  <div class="md:flex">
    <div class="p-8 mx-auto self-center md:text-left text-center">
      <!-- <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">WOM for devprotocol.xyz</a> -->
      <span class="font-black font-display xl:text-3xl lg:text-2xl md:text-2xl text-5xl my-2">Earn WOM to recommend Dev Protocol on the BULLZ dapp!</span>
      <p class="mt-2 text-gray-500">Recommend Dev Protocol to your fans and community using the BULLZ dapp. You can use the web recorder to create video recommendations and earn WOM tokens for it!</p>
    </div>
    <div class="md:flex-shrink-0 flex sm:content-center">
      <div id="plugin-selector-D001" class="bg-gray-700 m-5 shadow-xl" style="width: 285px; height: 600px; overflow-y:auto;" />
    </div>
  </div>
</div>