---
const { avatar, title, desc, link } = Astro.props
---

<a
  href={link}
  target="_blank"
  rel="norefferer noopener"
  class="rounded-xl border border-black/20 p-4 transition-colors hover:bg-white/10 dark:border-white/20 md:p-6"
>
  <section class="grid grid-cols-[1fr,5fr] gap-8">
    <img src={avatar} class="rounded-lg" />
    <div>
      <header class="mb-4 text-2xl font-bold">{title}</header>
      <p class="text-gray-700 dark:text-gray-400 lg:text-lg">{desc}</p>
    </div>
  </section>
</a>
