---
import App from './App.astro'
---

<section
  id="apps"
  class="relative grid items-center justify-items-center overflow-hidden bg-pink-100 py-10 px-2 dark:bg-neutral-900 md:py-20"
>
  <div
    class="absolute -mt-[32rem] h-52 w-2/3 bg-[#836de9] blur-[6rem] dark:bg-[#824f5e] md:h-72 md:blur-[7rem]"
  >
  </div>
  <h3
    class="relative mb-6 text-center text-3xl font-bold lg:text-4xl xl:text-5xl"
  >
    Apps
  </h3>
  <p
    class="relative text-center font-bold text-black/60 dark:text-white/60 lg:text-xl xl:text-2xl"
  >
    Launch your economy, support your favorite creators, and join the
    collaborative world through apps.
  </p>
  <div
    class="container relative mx-auto my-10 grid justify-items-center gap-6 md:my-20 md:grid-cols-2 md:gap-12"
  >
    <App
      avatar="/assets/avatar--niwa.png"
      title="Niwa"
      desc="Social Token Launcher for creators."
      link="https://niwa.xyz"
    />
    <App
      avatar="/assets/avatar--culture-clubs.png"
      title="Stakes.social"
      desc="Support creators, earn tokens and unlock the perks."
      link="https://stakes.social"
    />
  </div>
  <aside class="-mb-5 text-center text-black/60 dark:text-white/60 md:-mb-10">
    <p>
      To build your own apps in the DEV ecosystem, visit <a
        href="/developers"
        class="underline">developer resources</a
      >.
    </p>
  </aside>
</section>
