<section class="flex max-w-7xl flex-col px-6 lg:px-20 text-center md:text-left bg-white pt-24 dark:bg-darkPrimary">
  <div class="m-auto space-y-10">
    <h3 class="font-black text-center font-display text-6xl my-6 md:my-0 md:mt-4 lg:mb-12">About</h3>
    <div>
        <h4 class="text-3xl sm:text-4xl font-display mb-4">What is the mission and vision of Dev Protocol?</h4>
        <p>The mission of Dev Protocol is to maximize creativity for every creator in the world, using the power of Blockchain and Decentralized Financial mechanism to enable creators to capitalize on their projects and achieve financial success, regardless of the size of the project.</p>
    </div>
    <div>
        <h4 class="text-3xl sm:text-4xl font-display mb-4">Where does the Dev Protocol idea come from?</h4>
        <p>The idea does not come from Open Source Software (OSS) but traditional work. One of us, the founders, found out that Japanese artisans of temples and shrines were economically less valued despite their elaborate and long-lasting works. Then we got together and started to tackle continuous finance for creators in 2015. We established Dev Protocol in 2018 to begin implementing our sustainable supporting scheme by blockchain technology.</p>
    </div>
    <div>
        <h4 class="text-3xl sm:text-4xl font-display mb-4">The value of the Dev Protocol</h4>
      <p>The positive cycle created by Public goods such as OSS begins sustainability and enables more OSS developers, artists, researchers, and other creators to live independently. To collaborate with more projects freely is the greatest value for all.<br/><br/>
        The core features of Dev Protocol are evaluation, distribution, and management for the creator's projects. By using Dev Protocol, even a small, newly started project can increase its evaluation and improve its market capitalization. The ability to achieve this has been limited to stock companies now, but Dev Protocol is opening up that possibility to all creators.<br/><br/>
        The first step for creators is to prove their ownership of the project and issue their property tokens(ERC-20). Once issue tokens, creators can monetize through staking by supporters, share and divide them with their co-developers. In addition, these tokens allow creators to give partial ownership to all the contributors involved in the OSS development to provide a sustainable opportunity for profit without the need for token sales.<br/><br/>
        This is just a description of the basic components of the Dev Protocol ecosystem. There are many possible use cases for this new economic infrastructure designed for creators, so please try it out for yourself!
      </p>
    </div>
  </div>
</section>
