---
import Layout from '../layouts/Default.astro';
---

<Layout metaTitle="Home | DevProtocol">
  <header
    class="
      flex flex-col
      items-center
      justify-center
      text-center text-lg
      pt-24
      pb-20
    "
  >
    <a href="http://stakes.social/" class="mt-2">
      <button class="text-white py-2 px-4 rounded" style="background:#D500E6;">
        Join now
      </button>
      <img src="/assets/hand.png" alt="" class="ml-20 -mt-6 max-h-32" />
    </a>
    <h2 class="font-black font-display text-6xl my-6">
      Decentralized Creator Economy
    </h2>
    <p class="max-w-prose my-6">
      Everything creators need to grow their business: monetization, governance,
      and community is right here. Dev Protocol is easy to start with no
      knowledge of blockchain. Welcome to the new ecosystem for creators and
      patrons!
    </p>
  </header>
  <section
    class="flex flex-col items-center justify-center text-center text-lg pb-20"
  >
    <a class="flex w-auto items-center">
      <img src="/assets/creator.png" alt="" class="max-h-56 ml-52" />
      <p class="text-gray-400 ml-4 font-mono">
        Creative space by <br />
        White Russian Studio
      </p>
    </a>
    <h3 class="font-black font-display text-3xl mt-4">
      Decentralized Creator Economy
    </h3>
    <p class="max-w-prose my-6">
      Dev Protocol offers a revolutionary and powerful solution to grow and
      manage your business with blockchain. You can prove the ownership of your
      works and raise its revenue through support from the community. Let's start
      your creator economy today.
    </p>
    <a
      href="https://docs.devprotocol.xyz/en/stakes-social/onboard-guide/"
      class="underline font-bold"
      >Know More</a
    >
    <a href="https://stakes.social/create" class="mt-6">
      <button class="bg-black text-white py-2 px-6 rounded">
        Submit a project
      </button>
    </a>
  </section>
  <hr class="mx-auto bg-gray-300 rounded h-1 mb-16" />
  <!-- TODO: Convert the below code to a slider of success stories -->
  <section
    class="flex flex-col items-center justify-center text-center text-lg pb-20"
  >
    <p class="font-mono text-base mb-4 text-gray-400">
      Creator Success Stories
    </p>
    <h3 class="font-black font-display text-3xl my-8">
      Staking is Stronger Than Donation
    </h3>
    <img src="/assets/vyper.png" alt="" class="max-h-56" />
    <p class="underline font-bold mt-6 font-mono">Vyper</p>
    <p class="max-w-prose my-6">
      Vyper is a Python-like language for writing EVM smart contracts. Vyper is
      used in Uniswap v1 and CurveFinance contracts. They had trouble collecting
      donations even though they were bringing in a lot of revenue for many
      blockchain projects. They raised $44,000 in donations in two years with
      GitCoin, and received $125,000 in compensation in one year with Dev
      Protocol.
    </p>
    <p class="font-mono text-base text-gray-400">1/10</p>
  </section>
  <section
    class="flex flex-col items-center justify-center text-center text-lg pb-20"
  >
    <a class="flex w-auto items-center">
      <img src="/assets/patron.png" alt="" class="max-h-56 ml-52" />
      <p class="text-gray-400 ml-4 font-mono">
        Creative space by <br />
        White Russian Studio
      </p>
    </a>
    <h3 class="font-black font-display text-3xl my-4">Hi, Patron!</h3>
    <p class="max-w-prose my-6">
      Ever given up buying the work of your favorite creators for financial
      reasons? The Dev Protocol has made possible the opportunity for you to
      earn cryptos while supporting the creators. Welcome to the new Symbiotic
      Economy with creators!
    </p>
    <a
      href="https://docs.devprotocol.xyz/en/stakes-social/how-to-stake/"
      class="underline font-bold"
      >Know More</a
    >
    <a href="https://stakes.social/" class="mt-6">
      <button class="bg-black text-white py-2 px-6 rounded">
        Start Staking
      </button>
    </a>
  </section>
  <hr class="mx-auto bg-gray-300 rounded h-1 mb-16" />
  <section
    class="flex flex-col items-center justify-center text-center text-lg pb-20"
  >
    <p class="text-gray-400 ml-4 font-mono">Seleted Projects</p>
    <!-- TODO: Add the selected projects cards, dynamically -->
  </section>
  <section
    class="flex flex-col items-center justify-center text-center text-lg pb-20"
  >
    <p class="font-mono text-base mb-4 text-gray-400">
      Creator Success Stories
    </p>
    <h3 class="font-black font-display text-3xl my-8">DEV Token</h3>
    <img src="/assets/devtoken.png" alt="" class="max-h-56" />
    <a
      href="https://etherscan.io/token/0x5cAf454Ba92e6F2c929DF14667Ee360eD9fD5b26"
      ><p class="underline font-bold mt-6 font-mono">View on Etherscan</p></a
    >
    <p class="max-w-prose my-6">
      DEV is an inflationary token that is rewarded to patrons and OSS projects
      for being active participants in the Dev Protocol ecosystem. The Dev
      Protocol inflation rate for minting is determined by the total amount of
      DEV staked versus OSS projects onboarded. The result is a sustainable
      counter-balance system.
    </p>
    <a
      href="https://app.uniswap.org/#/swap?outputCurrency=0x5caf454ba92e6f2c929df14667ee360ed9fd5b26&use=V2"
      class="mt-6"
    >
      <button class="bg-black text-white py-2 px-6 rounded">Buy Dev</button>
    </a>
  </section>
  <section class="bg-gray-100 flex justify-evenly items-center p-10">
    <a href="#"><img src="/assets/sios.png" alt="Sios" class="w-40 h-auto"></a>
    <a href="#"><img src="/assets/hashub.png" alt="Hashhub" class="w-40 h-auto"></a>
    <a href="#"><img src="/assets/msstartups.png" alt="Microsoft for Startups" class="w-40 h-auto"></a>
    <a href="#"><img src="/assets/miraise.png" alt="Miraise" class="w-40 h-auto"></a>
    <a href="#"><img src="/assets/monexventures.png" alt="Monex Ventures" class="w-40 h-auto"></a>
  </section>
  <section class="bg-blue-500 px-20 py-28">
    <p align="center" class="font-display text-3xl text-gray-100">Latest on Medium</p>
    <!-- TODO: Find a way to add medium articles dynamically -->
    <a href="/devtokens" class="mt-6 mx-auto block">
      <p align="center"><button class="bg-white font-display text-gray-900 py-2 px-6">
        See more on Medium
      </button>
    </p>
    </a>
  </section>
  <footer class="bg-black text-white px-20 py-28 grid grid-cols-12">
    <!-- TODO: Get the links for the socials from @vinzvinci and add them -->
      <div class="flex flex-col lg:col-span-6 col-span-full lg:mx-0 mx-auto">
        <div>
          <img src="/assets/devlogo.svg" alt="" class="w-28" />
        </div>
        <div class="mt-10 flex flex-col">
          <span class="font-mono my-3">Get in touch with us:</span>
          <span class="font-bold text-4xl">hi@devprotocol.xyz</span>
        </div>
      </div>
      <div class="lg:col-span-6 flex flex-row font-mono justify-around items-end  col-span-full mt-14 lg:mt-0 font-semibold">
        <ul class="leading-10">
          <li>
            <a target="_blank" class="hover:text-gray-400 cursor-pointer" href="https://devprotocol.xyz/#team">Team</a>
          </li>
          <li>
            <a target="_blank" class="hover:text-gray-400 cursor-pointer" href="https://community.devprotocol.xyz/">Community</a>
          </li>
          <li>
            <a target="_blank" class="hover:text-gray-400 cursor-pointer" href="https://devprotocol.xyz/faq">FAQ</a>
          </li>
          <li>
            <a target="_blank" class="hover:text-gray-400 cursor-pointer" href="https://devprotocol.xyz/coc.html">Code of Conduct</a>
          </li>
        </ul>
        <ul class="leading-10">
          <li>
            <a target="_blank" class="hover:text-purple-400 cursor-pointer" href="https://discord.gg/VwJp4KM">Discord</a>
          </li>
          <li>
            <a target="_blank" class="hover:text-blue-400 cursor-pointer" href="https://twitter.com/devprtcl">Twitter</a>
          </li>
          <li>
            <a target="_blank" class="hover:text-purple-400 cursor-pointer" href="https://docs.devprotocol.xyz/">Docs</a>
          </li>
          <li>
            <a target="_blank" class="hover:text-blue-400 cursor-pointer" href="https://github.com/dev-protocol">Github</a>
          </li>
        </ul>
        <ul class="leading-10">
          <li>
            <a target="_blank" class="hover:text-red-400 cursor-pointer" href="https://medium.com/devprtcl">Medium</a>
          </li>
          <li>
            <a target="_blank" class="hover:text-purple-400 cursor-pointer" href="https://initto.devprotocol.xyz/">INITTO</a>
          </li>
          <li>
            <a target="_blank" class="hover:text-blue-400 cursor-pointer" href="https://www.linkedin.com/showcase/dev-protocol/">LinkedIn</a>
          </li>
          <li>
            <a target="_blank" class="hover:text-blue-400 cursor-pointer" href="https://www.facebook.com/DevProtocol.xyz">Facebook</a>
          </li>
        </ul>
      </div>
  </footer>
</Layout>
