---
import Layout from '../layouts/Default.astro'

import Hero from '@components/Home/Hero.astro'
import Why from '@components/Home/Heros/Why.astro'
import How from '@components/Home/Heros/How.astro'
import Creators from '@components/Home/Heros/Creators.astro'
import Patrons from '@components/Home/Heros/Patrons.astro'
import DevToken from '@components/Home/Heros/Tokens/DevToken.astro'
import MaxieToken from '@components/Home/Heros/Tokens/MaxieToken.astro'
import Apps from '@components/Home/Apps/Apps.astro'

import Backers from '@components/Home/Sections/Backers.astro'
import Blog from '@components/Home/Sections/Blog.astro'

import SuccessStories from '../components/Home/SuccessStories.vue'

import L2 from '@components/Home/Banners/L2.astro'
---

<Layout metaTitle="Dev Protocol | Sustainable creator economy">
  <Hero />
  <Apps />
  <article class="mt-10 lg:mt-20">
    <div class="gap-18 my-28 grid md:gap-32">
      <Why />
      <How />
    </div>
    <DevToken />
    <MaxieToken />
    <div class="mt-20 grid gap-y-20">
      <L2 />
      <Creators />
      <hr
        class="mx-auto h-2 rounded-sm dark:border-gray-600"
        style="width: 70%"
      />
      <SuccessStories client:visible />
      <hr
        class="mx-auto h-2 rounded-sm dark:border-gray-600"
        style="width: 70%"
      />
      <Patrons />
    </div>
  </article>
  <aside>
    <Backers />
    <Blog client:only="vue" />
  </aside>
</Layout>
