---
import Layout from '../layouts/Default.astro'

import Hero from '@components/Home/Hero.astro'
import Creators from '@components/Home/Heros/Creators.astro'
import Patrons from '@components/Home/Heros/Patrons.astro'
import DevToken from '@components/Home/Heros/DevToken.astro'

import Backers from '@components/Home/Sections/Backers.astro'
import Blog from '@components/Home/Sections/Blog.astro'

import SuccessStories from '../components/Home/SuccessStories.vue'
import Dapps from '../components/Home/Sections/Dapps.vue'

import L2 from '@components/Home/Banners/L2.astro'
---

<Layout metaTitle="Home | Dev Protocol">
  <Hero></Hero>
  <L2></L2>
  <article>
    <Creators></Creators>
    <hr class="h-2 mx-auto rounded-sm my-20" style="width: 70%" />
    <SuccessStories client:visible></SuccessStories>
    <hr class="h-2 mx-auto rounded-sm my-20" style="width: 70%" />
    <Patrons></Patrons>
    <hr class="h-2 mx-auto rounded-sm my-20" style="width: 70%" />
    <Dapps client:only></Dapps>
    <hr class="h-2 mx-auto rounded-sm my-20" style="width: 70%" />
    <DevToken></DevToken>
  </article>
  <aside>
    <Backers></Backers>
    <Blog></Blog>
  </aside>
  <section class="flex pb-28 md:py-8 flex-wrap items-center justify-around">
    <div id="wom-recorder" style="width: 300px; height: 700px; overflow-y:auto;" />
    <div id="wom-viewer-plugin" style="width: 285px; height: 700px;" />
    <div id="wom-channel-viewer-plugin" style="width: 500px; height: 700px;"></div>
  </section>
  <script defer src="https://creator.bullz.com/static/js/bullz.js"></script>
  <script defer src="https://viewer.womprotocol.io/static/js/wom.js"></script>
  <script defer src="https://channel-viewer.womprotocol.io/static/js/wom.js"></script>
  <script>
    document.addEventListener('bullz-recorder-init', () => {
      window.bullz.init({
        organizationPublicId: 'DEV PROTOCOL_619bbef3237f2c2d1f26ce9d',
        facilitatorld: 'DEV PROTOCOL_619bbef3237f2c2d1f26ce9d',
        publisher: 'Dev Protocol',
        selector: '#wom-recorder',
        background: 'https://stackroom.devprotocol.xyz/integration/wom/background.png',
        logo: 'https://stackroom.devprotocol.xyz/brand/dev-protocol__avatar-brandmark--white--w_980.png',
        color: 'white',
        backgroundColor: 'black',
        remoteProduct: {
          name: 'Dev Tokens',
          brand: 'Dev Protocol',
          publicld: 'D001',
          url: 'https://devprotocol.xyz/',
          imageUrl: 'https://stackroom.devprotocol.xyz/integration/wom/background.png',
        },
        isDev: true,
      })
    })
  </script>
  <script>
    document.addEventListener('wom-viewer-init', () => {
      const params = {
        organizationPublicId: 'DEV PROTOCOL_619bbef3237f2c2d1f26ce9d',
        selector: '#wom-viewer-plugin',
        remoteProductId: 'D001',
        color: 'black',
        textColor: 'white',
      }

      window.wom.check(params).then(values => {
        console.log({values});

        if (!values[0].isSuccess) {
          return console.log('womjs config success');
        }
      }).catch(console.error)

      window.wom.init(params);
    })
  </script>
  <script>
    document.addEventListener('wom-channel-viewer-init', async () => {
        const params = {
            merchantId: 'DEV PROTOCOL_619bbef3237f2c2d1f26ce9d',
            selector: '#wom-channel-viewer-plugin',
            channelId: '619ee5ce237f2c2d1f31d15d',
            color: 'black',
            textColor: 'white'
        };
        const result = await window.womChannelViewer.check(params).catch(err => {
          console.error(err)
          return undefined
        })
        if (result && result[0].isSuccess) {
          window.womChannelViewer.init(params)
        }
    })
  </script>
</Layout>
