@use 'node_modules/@devprotocol/hashi';

@mixin use() {
    .row-end {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        
        > * + * {
            margin-left: hashi.theme-token-get('margin-xs');
        }
    }
    
    .row-between {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        
        > * {
            display: flex;
            flex-basis: 100%;
            
            &:last-child {
                justify-content: flex-end;
            }
        }
    }
}