<section
  class="
    mt-20
    lg:mt-0
    flex flex-col
    items-center
    justify-center
    min-h-screen
    text-center text-lg
    lg:text-left
    lg:flex-row-reverse
    m-auto
  "
>
  <div class="w-auto items-center lg:mx-20">
    <img
      src="/assets/art/art--bears.png"
      alt=""
      class="max-h-96 w-auto"
      width="900"
      height="900"
    />
  </div>
  <div class="mx-12 p-4 lg:max-w-half">
    <h3 class="font-black font-display text-6xl mt-4">
      Create public goods to Earn.
    </h3>
    <p class="max-w-prose my-6">
      Creators can start monetization of any kind of works by issuing their own social token (ERC-20) and then promoting them to the community. It's like a "stock company" with all the features you need to grow your business, including efficient management of ownership and distribution of revenue.
    </p>
    <a href="https://stakes.social/create" class="mt-6 mx-4 ml-0">
      <button class="bg-black text-white py-2 px-6 rounded">
        Submit a Project
      </button>
    </a>
  </div>
</section>
