<section
  class="dp-hero">
  <div class="w-auto items-center lg:mx-20">
    <img
      src="/assets/art/art--bears.png"
      alt=""
      class="max-h-96 w-auto"
      width="900"
      height="900"
    />
  </div>
  <div class="dp-hero_left">
    <h3>
      Create public goods to Earn.
    </h3>
    <p>
      Creators can start monetization of any kind of works by issuing their own social token (ERC-20) and then promoting them to the community. It's like a "stock company" with all the features you need to grow your business, including efficient management of ownership and distribution of revenue.
    </p>
    <a href="https://stakes.social/create" class="">
      <button>
        Submit a Project
      </button>
    </a>
  </div>
</section>
