<section class="flex flex-col items-center py-4 px-10 md:text-left">
  <div class="flex flex-col items-start">
    <h3 class="font-black font-display text-6xl mb-16">Step by Step Onboarding</h3>
      <div class="flow-root">
        <ul role="list" class="-mb-8">
          <li>
            <div class="relative pb-8">
              <span class="absolute top-5 left-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
              <div class="relative flex items-start space-x-3">
                <div>
                  <span class="group relative w-8 h-8 flex items-center justify-center bg-white border-2 border-gray-300 rounded-full hover:border-gray-400"></span>
                  <span class="h-2.5 w-2.5 bg-transparent rounded-full group-hover:bg-gray-300" aria-hidden="true"></span>
                </div>
                <div class="min-w-0 flex-1">
                  <div>
                    <div class="text-sm">
                      <h4 class="font-display font-black text-4xl mt-5 mb-10">Step 1</h4>
                    </div>
                  </div>
                  <div>
                    <p class="max-w-para">
                      For you to register (or tokenize) your Open Source Project to Dev Protocol, you need to go through a registration procedure
                      for Stakes.social. You’ll need a wallet to register, so you must have one beforehand. You can use any wallet provided there like MetaMask
                      to log in on Stakes.social.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="relative pb-8">
              <span class="absolute top-5 left-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
              <div class="relative flex items-start space-x-3">
                <div>
                  <span class="group relative w-8 h-8 flex items-center justify-center bg-white border-2 border-gray-300 rounded-full hover:border-gray-400"></span>
                  <span class="h-2.5 w-2.5 bg-transparent rounded-full group-hover:bg-gray-300" aria-hidden="true"></span>
                </div>
                <div class="min-w-0 flex-1">
                  <div>
                    <div class="text-sm">
                      <h4 class="font-display font-black text-4xl mt-5 mb-10">Step 2</h4>
                    </div>
                  </div>
                  <div>
                    <p class="max-w-para">
                      Click the “Sign in” button located at the right side of the navigation bar to connect your wallet to Stakes.social and
                      it will automatically log in if you successfully connect your wallet to the Stakes.social.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="relative pb-8">
              <span class="absolute top-5 left-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
              <div class="relative flex items-start space-x-3">
                <div class="relative flex items-start space-x-3">
                <div>
                  <span class="group relative w-8 h-8 flex items-center justify-center bg-white border-2 border-gray-300 rounded-full hover:border-gray-400"></span>
                  <span class="h-2.5 w-2.5 bg-transparent rounded-full group-hover:bg-gray-300" aria-hidden="true"></span>
                </div>
                </div>
                <div class="min-w-0 flex-1">
                  <div>
                    <div class="text-sm">
                      <h4 class="font-display font-black text-4xl mt-5 mb-10">Step 3</h4>
                    </div>
                  </div>
                  <div>
                    <p class="max-w-para">
                      Click the "Create" in the navigation bar and answer the provided form. After you submit your application form, we kindly ask you to
                      wait for about a week for the screening process. We’ll let you know the result via email, so please change the filtering setup
                      for your mailbox to receive an email from “@devprotocol.xyz”.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="relative pb-8">
              <div class="relative flex items-start space-x-3">
                <div class="relative">
                  <span class="relative w-9 h-9 flex items-center justify-center bg-indigo-600 rounded-full hover:bg-indigo-900">
                    <!-- Heroicon name: solid/check -->
                    <svg class="w-5 h-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                    </svg>
                  </span>
                </div>
                <div class="min-w-0 flex-1">
                  <div>
                    <div class="text-sm">
                      <h4 class="font-display font-black text-4xl mt-5 mb-10">Step 4</h4>
                    </div>
                  </div>
                  <div>
                    <p class="max-w-para">
                      If you successfully pass the screening, access the URL written in the approval email. We will send you another step-by-step
                      method to completely onboard to the Stakes.social. You’ll need a gas fee for your registration. It fluctuates depending on 
                      the congestion condition, however, it will be around 0.0436ETH. Since the gas costs are constantly changing, it is safer to
                      separate about 0.0875 ETH for the onboarding process.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
  </div>
</section>
