<section class="flex flex-col items-center py-4 px-10 md:text-left">
  <div class="flex flex-col items-start">
    <h3 class="font-black font-display text-6xl mb-16">Use Cases</h3>
    <div class="flex flex-col lg:flex-row justify-center text-lg items-center md:justify-start">
      <div class="flex flex-col w-full justify-evenly p-4 m-4 ml-0 pl-0">
        <img width="100" height="100" src="/assets/creator.png" alt="">
        <h4 class="font-display font-black text-4xl mt-5 mb-10">Sponsorships</h4>
        <p class="max-w-para">In a few simple steps, you can turn your work into a profit-making asset and start raising
          money from your patrons today.</p>
      </div>
      <div class="flex flex-col w-full justify-evenly p-4 m-4 ml-0 pl-0">
        <img width="100" height="100" src="/assets/creator.png" alt="">
        <h4 class="font-display font-black text-4xl mt-5 mb-10">Perks</h4>
        <p class="max-w-para">Offer exclusive perks for patrons to earn revenue more actively. Power up your creator
          economy.</p>
      </div>
      <div class="flex flex-col w-full justify-evenly p-4 m-4 ml-0 pl-0">
        <img width="100" height="100" src="/assets/creator.png" alt="">
        <h4 class="font-display font-black text-4xl mt-5 mb-10">Governance</h4>
        <p class="max-w-para">Share ownership of your assets with your team/stakeholders for efficient and secure
          governance.</p>
      </div>
    </div>
  </div>
</section>
