<header
  class="
    flex flex-col
    items-center
    justify-center
    mt-12
    px-4
    py-10
    lg:py-20
    lg:px-0
    relative
    overflow-hidden
  "
>
  <div
    class="absolute animate-floating-one ml-72 mb-40 bg-blue-600 dark:bg-indigo-700 w-96 h-72 blur-[7rem]"
  >
  </div>
  <div
    class="absolute animate-floating-two mr-72 mt-40 bg-fuchsia-600 dark:bg-pink-600 rotate-45 w-64 h-80 blur-[7rem]"
  >
  </div>
  <div
    class="relative  grid justify-center justify-items-center py-16 lg:py-20"
  >
    <h2 class="font-bold uppercase xl:text-7xl lg:text-6xl text-5xl mb-16">
      <span class="block">Sustainable</span>
      <span class="block">Creator</span>
      <span class="block">Economy</span>
    </h2>
    <p class="text-center mt-4 mb-16 max-w-3xl xl:text-2xl text-xl">
      Decentralized funding where creators and backers work together to drive
      project growth and are equally rewarded.
    </p>
  </div>
</header>
