<header
  class="relative mt-12 flex flex-col items-center justify-center overflow-hidden px-4 py-10 lg:py-20 lg:px-0"
>
  <div
    class="absolute ml-72 mb-40 h-72 w-96 animate-floating-one bg-blue-600 blur-[7rem] dark:bg-indigo-700"
  >
  </div>
  <div
    class="absolute mr-72 mt-40 h-80 w-64 rotate-45 animate-floating-two bg-fuchsia-600 blur-[7rem] dark:bg-pink-600"
  >
  </div>
  <div class="relative grid justify-center justify-items-center py-16 lg:py-20">
    <h2 class="mb-16 text-5xl font-bold uppercase lg:text-6xl xl:text-7xl">
      <span class="block">Sustainable</span>
      <span class="block">Creator</span>
      <span class="block">Economy</span>
    </h2>
    <p class="mt-4 mb-16 max-w-3xl text-center text-xl xl:text-2xl">
      Decentralized funding where creators and backers work together to drive
      project growth and are equally rewarded.
    </p>
  </div>
</header>
