<header
  class="
    flex flex-col
    items-center
    justify-center
    mt-12
    px-4
    py-10
    lg:py-20
    lg:px-0
    relative
    overflow-hidden
  "
>
  <div
    class="absolute animate-floating-one ml-72 mb-40 bg-blue-600 dark:bg-indigo-700 w-96 h-72 blur-[7rem]"
  >
  </div>
  <div
    class="absolute animate-floating-two mr-72 mt-40 bg-fuchsia-600 dark:bg-pink-600 rotate-45 w-64 h-80 blur-[7rem]"
  >
  </div>
  <div class="relative grid justify-center justify-items-center py-24 lg:py-40">
    <h2 class="font-bold h-[3em] md:h-[2em] xl:text-7xl lg:text-6xl text-5xl">
      Money for <span
        class="before:content-['Open Source'] before:animate-hero-slot"></span>
    </h2>
    <p class="mt-4 mb-16 xl:text-3xl lg:text-2xl text-xl">
      <span class="opacity-70">DEV is</span>
      <strong class="uppercase">the most creator-friendly money</strong>
      <span class="opacity-70">in the world.</span>
    </p>
    <p>
      <a
        href="https://stakes.social"
        target="_blank"
        rel="norefferer"
        class="rounded-full hover:shadow bg-black dark:bg-white text-white dark:text-black text-xl px-8 py-3"
        >Use DEV</a
      >
    </p>
  </div>
</header>
