<header
  class="
    flex flex-col
    items-center
    justify-center
    text-center text-lg
    pt-24
    pb-20
    lg:pb-40 lg:px-0
    px-4
  "
>
  <a href="http://stakes.social/" class="mt-2">
    <button class="text-white py-2 px-4 rounded" style="background: #d500e6">
      Join now
    </button>
    <img src="/assets/hand.png" alt="" class="ml-20 -mt-6 max-h-32" />
  </a>
  <h2 class="font-black font-display lg:text-9xl text-4xl my-6">
    Decentralized<br />Creator Economy
  </h2>
  <p class="max-w-prose my-6">
    Start your own economy easily with a powerful blockchain solution designed
    to help grow your creator business. Take advantage of the Web 3.0 technology
    and integrate it with a variety of decentralized apps to accelerate the
    growth of your economy.
  </p>
</header>
