<header
  class="
    flex flex-col
    items-center
    justify-center
    pt-40
    px-4
    lg:px-0
    relative
    overflow-x-clip
  "
>
  <div
    class="absolute animate-floating-one ml-72 mb-40 bg-indigo-700 w-72 h-52 blur-[7rem]"
  >
  </div>
  <div
    class="absolute animate-floating-two mr-72 mt-40 bg-pink-600 rotate-45 w-52 h-72 blur-[7rem]"
  >
  </div>
  <div class="relative grid justify-center justify-items-center py-32">
    <h2 class="font-bold h-[3em] xl:text-7xl lg:text-6xl text-5xl my-2">
      Money for <span
        class="before:content-['Open Source'] before:animate-hero-slot"></span>
    </h2>
    <p class="max-w-prose my-6 opacity-70 px-8 text-base lg:text-lg">
      DEV is the most creator-friendly money in the world
    </p>
  </div>
</header>
