<section class="bg-slate-100 dark:bg-black py-40 px-2">
  <h3 class="font-bold text-slate-400 xl:text-2xl lg:text-xl mb-6 text-center">
    Mission
  </h3>
  <div class="container mx-auto grid gap-12 justify-items-center ">
    <p class="font-bold xl:text-5xl lg:text-4xl text-3xl text-center">
      Empowering all creators for sustainable challenges.
    </p>
    <p class="max-w-prose text-gray-400 px-8 text-base lg:text-lg">
      Decentralized funding, Social tokens, DAOs and everything you need for a
      sustainable creator economy is here.
    </p>
  </div>
</section>
