<section class="bg-gray-200	dark:bg-darkThird">
  <div class="container mx-auto grid gap-4 justify-items-center py-40 px-2">
    <h3 class="font-bold dark:text-slate-400 xl:text-2xl lg:text-xl">Vision</h3>
    <p class="font-bold xl:text-5xl lg:text-4xl text-3xl my-2 text-center">
      We create a society where all innovators are valued and can sustainably
      tackle challenges.
    </p>
    <p class="max-w-prose my-6 dark:text-gray-400 px-8 text-base lg:text-lg">
      Our mission is to create a sustainable foundation for the creator
      community and accelerate innovation by providing decentralized solutions
      (payment, investment, communication, authentication) optimized for the
      creator economy.
    </p>
  </div>
</section>
