<section
  class="
    flex flex-col
    items-center
    justify-center
    text-center text-lg
    pb-20
    lg:pb-40 lg:px-0
    px-4
  "
>
  <div class="w-auto items-center">
    <img
      src="/assets/art/art--bears.png"
      alt=""
      class="max-h-96 w-auto"
      width="900"
      height="900"
    />
  </div>
  <h3 class="font-black font-display text-6xl mt-4">Hello, Creators</h3>
  <p class="max-w-prose my-6">
    Launch your social tokens with proof of ownership of your projects and open
    the door to web3.0. Dev Protocol supports sustainable revenue opportunity
    and global expansion by using crypto assets. And you can share your success
    with your fans!
  </p>
  <a
    href="https://docs.devprotocol.xyz/en/stakes-social/onboard-guide/"
    class="underline font-bold"
    >Know More</a
  >
  <a href="https://stakes.social/create" class="mt-6">
    <button class="bg-black text-white py-2 px-6 rounded">
      Submit a project
    </button>
  </a>
</section>
