<section
  class="
    grid
    grid-cols-12
    items-center
    justify-center
    text-lg
    lg:px-0
    text-center
    md:text-left
    px-4
  "
>
  <div class="col-span-full md:col-span-4 mx-auto">
    <img src="/assets/devtoken.png" alt="" class="max-h-56 dark:rounded-full dark:border" />
  </div>
  <div class="flex flex-col col-span-full md:col-span-8">
    <h3 class="font-black font-display text-4xl my-4 md:my-8">DEV Token</h3>
    <p class="max-w-prose my-6">
      DEV is a proprietary token that allows everyone in the Dev Protocol
      ecosystem, creators, patrons, and community, to share incentives. Its
      inflation rate is determined by the total amount staked and the number of
      participating creators, and is minted a little each year. The result is a
      sustainable counter-balance system of creators and patrons.
    </p>
    <a
      href="https://etherscan.io/token/0x5cAf454Ba92e6F2c929DF14667Ee360eD9fD5b26"
      ><p class="underline font-bold my-2 md:my-6 font-mono">View on Etherscan</p>
    </a>
  </div>
</section>
