<section class="bg-texture-gradient bg-cover">
  <div
    class="
      grid
      gap-4
      md:grid-cols-2
      items-center
      justify-center
      lg:px-0
      md:text-left
      p-4
      py-16
      text-black
      dark:text-white
      bg-transparentWhite
      dark:bg-transparentBlack
      backdrop-blur-md
    "
  >
    <div class="h-full grid content-center">
      <img
        src="/assets/devtoken.png"
        alt=""
        class="max-h-40	md:max-h-56 mx-auto dark:rounded-full dark:border dark:border-slate-500"
      />
    </div>
    <div class="h-full grid justify-items-start">
      <div class="max-w-xl">
        <h3 class="font-bold text-3xl my-4 md:my-8">DEV Token</h3>
        <p class="font-bold">The currency for a sustainable ecosystem</p>
        <p class="opacity-70 my-6">
          DEV can be used to support creators and improve the sustainability of
          their activities. Any creators even who makes free assets can realize
          the true value of their works.
        </p>
      </div>
    </div>
  </div>
</section>
