<section
  class="
    flex flex-col
    items-center
    justify-center
    text-center text-lg
    pb-20
    lg:pb-40 lg:px-0
    px-4
  "
>
  <h3 class="font-black font-display text-4xl my-8">DEV Token</h3>
  <img src="/assets/devtoken.png" alt="" class="max-h-56" />
  <a
    href="https://etherscan.io/token/0x5cAf454Ba92e6F2c929DF14667Ee360eD9fD5b26"
    ><p class="underline font-bold mt-6 font-mono">View on Etherscan</p></a
  >
  <p class="max-w-prose my-6">
    DEV is a proprietary token that allows everyone in the Dev Protocol
    ecosystem, creators, patrons, and community, to share incentives. Its
    inflation rate is determined by the total amount staked and the number of
    participating creators, and is minted a little each year. The result is a
    sustainable counter-balance system of creators and patrons.
  </p>
  <a
    href="https://app.uniswap.org/#/swap?outputCurrency=0x5caf454ba92e6f2c929df14667ee360ed9fd5b26&use=V2"
    class="mt-6"
  >
    <button class="bg-black text-white py-2 px-6 rounded">Buy Dev</button>
  </a>
</section>
