<section class="grid gap-12 px-4">
  <h2 class="my-2 text-center text-3xl font-bold lg:text-4xl xl:text-5xl">
    Super flexible use everywhere
  </h2>
  <div class="mx-auto grid max-w-md gap-y-16 md:max-w-6xl">
    <section class="grid justify-center gap-8 md:grid-cols-[3fr_1fr_2fr]">
      <h3 class="text-2xl font-bold md:text-left lg:text-3xl xl:text-4xl">
        Staking
      </h3>
      <img src="/assets/how--token.svg" class="mx-auto h-32" />
      <div>
        <p class="mb-4 text-base text-gray-600 dark:text-gray-400 lg:text-lg">
          Sustainable incentive scheme that benefits both creators and users and
          bring financial freedom for creators.
        </p>
        <a
          class="inline-block rounded border px-2 text-base dark:border-gray-400"
          href="https://initto.devprotocol.xyz/en/dev-protocol-rather-than-donation-service/"
          target="_blank"
          rel="norefferer">↗ Read more</a
        >
      </div>
    </section>
    <section class="grid justify-center gap-8 md:grid-cols-[3fr_1fr_2fr]">
      <h3 class="text-2xl font-bold md:text-left lg:text-3xl xl:text-4xl">
        A scalable ecosystem
      </h3>
      <img src="/assets/how--stack.svg" class="mx-auto h-32" />
      <div>
        <p class="mb-4 text-base text-gray-600 dark:text-gray-400 lg:text-lg">
          Khaos Oracle securely authenticates ownership of all creators works,
          and DEV token holders can expand the range of supported assets.
        </p>
        <a
          class="inline-block rounded border px-2 text-base dark:border-gray-400"
          href="https://github.com/dev-protocol/khaos"
          target="_blank"
          rel="norefferer">↗ Read more</a
        >
      </div>
    </section>
    <section class="grid justify-center gap-8 md:grid-cols-[3fr_1fr_2fr]">
      <h3 class="text-2xl font-bold md:text-left lg:text-3xl xl:text-4xl">
        Decentralized solutions for creators
      </h3>
      <img src="/assets/how--blocks.svg" class="mx-auto h-32" />
      <div>
        <p class="mb-4 text-base text-gray-600 dark:text-gray-400 lg:text-lg">
          Everything is OSS and open to integration with DEV for anyone who
          develops apps and services for creators.
        </p>
        <a
          class="inline-block rounded border px-2 text-base dark:border-gray-400"
          href="https://github.com/dev-protocol"
          target="_blank"
          rel="norefferer">↗ GitHub</a
        >
      </div>
    </section>
  </div>
</section>
