<section
  class="
    px-4
    lg:px-0
  "
>
  <div
    class="
      grid
      md:grid-cols-2
      gap-8
      items-center
      justify-center
      container
      mx-auto
    "
  >
    <h2 class="max-w-md mx-auto font-bold xl:text-5xl lg:text-4xl text-3xl">
      Money designed for Open Source
    </h2>
    <div>
      <p class="">Staking, not payment</p>
      <p class="">
        Dev Protocol is an open protocol to circulate funds for free assets. <a
          class="rounded border dark:border-gray-400 inline-block px-2"
          href="https://initto.devprotocol.xyz/en/dev-protocol-rather-than-donation-service/"
          target="_blank"
          rel="norefferer">↗ Read more</a
        >
      </p>
    </div>
  </div>
</section>
