<section
  class="
    px-4
    lg:px-0
    grid gap-12
  "
>
  <h2 class="font-bold xl:text-5xl lg:text-4xl text-3xl my-2 text-center">
    Money designed for Open Source
  </h2>
  <div
    class="
      grid
      md:grid-cols-2
      gap-8
      gap-y-16
      justify-center
      max-w-6xl
      mx-auto
    "
  >
    <h3 class="font-bold xl:text-4xl lg:text-3xl text-2xl md:text-left">
      Staking
    </h3>
    <div class="px-8">
      <p class="text-gray-600 dark:text-gray-400 text-base lg:text-lg mb-4">
        Sustainable incentive scheme that benefits both creators and users and
        bring financial freedom for creators.
      </p>
      <a
        class="rounded border dark:border-gray-400 inline-block px-2 text-base"
        href="https://initto.devprotocol.xyz/en/dev-protocol-rather-than-donation-service/"
        target="_blank"
        rel="norefferer">↗ Read more</a
      >
    </div>
    <h3 class="font-bold xl:text-4xl lg:text-3xl text-2xl md:text-left">
      A scalable ecosystem
    </h3>
    <div class="px-8">
      <p class="text-gray-600 dark:text-gray-400 text-base lg:text-lg mb-4">
        Khaos Oracle securely authenticates ownership of all creators works, and
        DEV token holders can expand the range of supported assets.
      </p>
      <a
        class="rounded border dark:border-gray-400 inline-block px-2 text-base"
        href="https://initto.devprotocol.xyz/en/dev-protocol-rather-than-donation-service/"
        target="_blank"
        rel="norefferer">↗ Read more</a
      >
    </div>
    <h3 class="font-bold xl:text-4xl lg:text-3xl text-2xl md:text-left">
      Decentralized solutions for creators
    </h3>
    <div class="px-8">
      <p class="text-gray-600 dark:text-gray-400 text-base lg:text-lg mb-4">
        Everything is OSS and open to integration with DEV for anyone who
        develops apps and services for creators.
      </p>
      <a
        class="rounded border dark:border-gray-400 inline-block px-2 text-base"
        href="https://initto.devprotocol.xyz/en/dev-protocol-rather-than-donation-service/"
        target="_blank"
        rel="norefferer">↗ Read more</a
      >
    </div>
  </div>
</section>
