<section
  class="
    flex flex-col
    items-center
    justify-center
    text-center text-lg
    py-10
    lg:pb-20 lg:px-0
    px-4
  "
>
  <div class="w-auto items-center">
    <img
      src="/assets/art/art--bears-2.png"
      alt=""
      class="max-h-96 w-auto"
      width="900"
      height="900"
    />
  </div>
  <h3 class="font-black font-display text-6xl my-4">Hi, Patron!</h3>
  <p class="max-w-prose my-6">
    Here is the future where you can support your favorite creators and succeed
    together. You can earn crypto assets by supporting creators and have access
    to wonderful patron only perks (NFT). Welcome to the new symbiotic economy
    of creators and patrons.
  </p>
  <a
    href="https://docs.devprotocol.xyz/en/stakes-social/how-to-stake/"
    class="underline font-bold"
    >Know More</a
  >
  <a href="https://stakes.social/" class="mt-6">
    <button class="bg-black text-white py-2 px-6 rounded">Start Staking</button>
  </a>
</section>
