<section
  class="container relative mx-auto grid items-center justify-items-center gap-12 px-2 py-24"
>
  <div
    class="absolute h-52 w-52 bg-amber-400 blur-[6rem] dark:bg-indigo-800 md:h-72 md:w-72 md:blur-[7rem]"
  >
  </div>
  <h3
    class="relative mb-6 text-center font-bold text-slate-400 lg:text-xl xl:text-2xl"
  >
    Mission
  </h3>

  <p class="relative text-center text-3xl font-bold lg:text-4xl xl:text-5xl">
    Empowering all creators for sustainable challenges.
  </p>
  <p class="relative max-w-prose px-8 text-base opacity-70 lg:text-lg">
    Decentralized funding, Social tokens, DAOs and everything you need for a
    sustainable creator economy is here.
  </p>
</section>
