<section
  class="relative container mx-auto grid gap-12 items-center
    justify-items-center px-2 py-24"
>
  <div
    class="absolute bg-amber-400 dark:bg-indigo-800 w-52 h-52 blur-[6rem] md:w-72 md:h-72 md:blur-[7rem]"
  >
  </div>

  <p class="relative font-bold xl:text-5xl lg:text-4xl text-3xl text-center">
    Beleive in the power of Open Source
  </p>
  <p class="relative max-w-prose opacity-70 px-8 text-base lg:text-lg">
    Dev Protocol is an open protocol to circulate funds for free assets. It aims
    to accelerate innovation in all areas through openness.
  </p>
</section>
