<section
  class="relative container mx-auto grid gap-12 items-center
    justify-items-center px-2 py-24"
>
  <div
    class="absolute bg-amber-400 dark:bg-indigo-800 w-52 h-52 blur-[6rem] md:w-72 md:h-72 md:blur-[7rem]"
  >
  </div>
  <h3
    class="relative font-bold text-slate-400 xl:text-2xl lg:text-xl mb-6 text-center"
  >
    Mission
  </h3>

  <p class="relative font-bold xl:text-5xl lg:text-4xl text-3xl text-center">
    Empowering all creators for sustainable challenges.
  </p>
  <p class="relative max-w-prose opacity-70 px-8 text-base lg:text-lg">
    Decentralized funding, Social tokens, DAOs and everything you need for a
    sustainable creator economy is here.
  </p>
</section>
