<section
  class="
    px-4
    lg:px-0
  "
>
  <div
    class="
      grid
      md:grid-cols-2
      gap-8
      justify-center
      container
      mx-auto
    "
  >
    <h2
      class="max-w-md mx-auto	font-bold xl:text-5xl lg:text-4xl text-3xl text-center md:text-left"
    >
      Beleive in the power of Open Source
    </h2>
    <div>
      <p class="text-gray-600 dark:text-gray-400 px-8 text-base lg:text-lg">
        Dev Protocol is an open protocol to circulate funds for free assets. It
        aims to accelerate innovation in all areas through openness.
        <a
          class="rounded border dark:border-gray-400 inline-block px-2 text-base"
          href="https://initto.devprotocol.xyz/en/dev-protocol-rather-than-donation-service/"
          target="_blank"
          rel="norefferer">↗ Read more</a
        >
      </p>
    </div>
  </div>
</section>
