---
import Chart from './Chart.vue'
---

<div class="my-16 flex flex-col items-center justify-center pt-8">
  <h2 class="text-center text-5xl dark:text-white">Stats</h2>
  <Chart client:load />
  <a class="m-auto w-fit" href="https://discord.com/invite/VwJp4KM">
    <button
      class="w-max select-none rounded-lg bg-gray-300 p-2.5 text-xl dark:bg-indigo-600"
    >
      See community activities on Discord
    </button>
  </a>
</div>
