---
import Navigation from '@components/Global/Navigation.astro'
import Footer from '@components/Global/Footer.astro'

let { metaTitle } = Astro.props;
---

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{metaTitle}</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link
  rel="stylesheet"
  href={Astro.resolve("../styles/global.css")}
  >
  <meta name="description" content="Dev Protocol lets GitHub users tokenize their OSS projects in a few clicks. Creating an OSS token allows projects to access sustainable funding, create underlying economic models for their project, and distribute incentives at scale. For the first time, OSS projects have a scalable solution to unlock their value.">
  <meta property="og:title" content={metaTitle} />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://devprotocol.netlify.app/" />
  <meta property="og:image" content="/assets/og.png" />
</head>

<body class="text-gray-900 font-body">
  <Navigation></Navigation>
  <main>
    <slot />
  </main>
  <Footer></Footer>
</body>

</html>
