<footer
  class="bg-black text-white lg:px-20 lg:py-28 px-10 py-14 grid grid-cols-12"
>
  <div class="flex flex-col lg:col-span-6 col-span-full lg:mx-0 mx-auto">
    <div>
      <img src="/assets/devlogo.svg" alt="" class="w-28" />
    </div>
    <div class="mt-10 flex flex-col">
      <p
        class="
          font-mono
          text-gray-300 text-opacity-70
          sm:w-96
          font-medium
          tracking-normal
          leading-2
        "
      >
        Dev Protocol is the core of the Decentralized Creator Economy,
        completely on-chain, 100% composable middleware protocol.
      </p>
      <div class="flex mt-6">
        <a href="https://twitter.com/devprtcl" title="Follow us on Twitter">
          <img src="/assets/twitter.svg" alt="twitter_logo">
        </a>
        <a href="https://medium.com/devprtcl" title="Follow us on Medium">
          <img src="/assets/medium.svg" alt="medium_logo">
        </a>
      </div>
      <a
        class="mt-4 text-lg font-mono"
        href="https://github.com/dev-protocol/community/blob/main/CODE_OF_CONDUCT.md"
        >Code of Conduct</a
      >
    </div>
  </div>

  <div
    class="
      lg:col-span-6
      flex flex-row
      font-mono
      justify-between
      sm:justify-around
      flex-wrap
      items-start
      col-span-full
      mt-14
      lg:mt-0
      font-semibold
    "
  >
    <ul class="leading-10 mx-2">
      <li>
        <ul>
          Products
        </ul>
      </li>
      <li>
        <a
          target="_blank"
          class="hover:text-white text-gray-400 opacity-70"
          href="https://stakes.social/"
          >Stakes.social</a
        >
      </li>
      <li>
        <a
          target="_blank"
          class="hover:text-white text-gray-400 opacity-70"
          href="https://github.com/dev-protocol/khaos"
          >Khaos Oracle</a
        >
      </li>
      <li>
        <a
          target="_blank"
          class="hover:text-white text-gray-400 opacity-70"
          href="https://github.com/dev-protocol/dev-kit-js"
          >Dev Kit</a
        >
      </li>
    </ul>
    <ul class="leading-10 mx-2">
      <li>
        <ul>
          Support
        </ul>
      </li>
      <li>
        <a
          target="_blank"
          class="hover:text-white text-gray-400 opacity-70"
          href="https://initto.devprotocol.xyz/"
          >Tutorials</a
        >
      </li>
      <li>
        <a
          target="_blank"
          class="hover:text-white text-gray-400 opacity-70"
          href="https://docs.devprotocol.xyz/"
          >Documentation</a
        >
      </li>
      <li>
        <a
          target="_blank"
          class="hover:text-white text-gray-400 opacity-70"
          href="https://discord.gg/VwJp4KM"
          >Discord</a
        >
      </li>
      <li>
        <a
          target="_blank"
          class="hover:text-white text-gray-400 opacity-70"
          href="https://community.devprotocol.xyz/"
          >Forum</a
        >
      </li>
    </ul>
    <ul class="leading-10 mx-2">
      <li>
        <ul>
          Protocol
        </ul>
      </li>
      <li>
        <a
          target="_blank"
          class="hover:text-white text-gray-400 opacity-70"
          href="https://govern.devprotocol.xyz/"
          >Govern</a
        >
      </li>
      <li>
        <a
          target="_blank"
          class="hover:text-white text-gray-400 opacity-70"
          href="https://github.com/dev-protocol"
          >GitHub</a
        >
      </li>
      <li>
        <a
          target="_blank"
          class="hover:text-white text-gray-400 opacity-70"
          href="https://github.com/dev-protocol/DIPs"
          >Proposals</a
        >
      </li>
    </ul>
  </div>
</footer>
