<footer
  class="bg-black text-white lg:px-20 lg:py-28 px-10 py-14 grid grid-cols-12"
>
  <div class="flex flex-col lg:col-span-6 col-span-full lg:mx-0 mx-auto">
    <div>
      <img src="/assets/devlogo.svg" alt="" class="w-28" />
    </div>
    <div class="mt-10 flex flex-col">
      <p
        class="
          font-mono
          text-gray-300 text-opacity-70
          sm:w-96
          font-medium
          tracking-normal
          leading-2
        "
      >
        Dev Protocol is the core of the Decentralized Creator Economy,
        completely on-chain, 100% composable middleware protocol.
      </p>
      <div class="flex mt-6">
        <a href="https://twitter.com/devprtcl">
          <svg
            width="26"
            height="21"
            viewBox="0 0 26 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="mr-2"
          >
            <path
              d="M23.2689 5.27976C23.2847 5.50315 23.2847 5.72653 23.2847 5.95197C23.2847 12.8212 17.9589 20.7436 8.22039 20.7436V20.7395C5.34362 20.7436 2.5266 19.9345 0.104828 18.4089C0.523134 18.4583 0.943538 18.483 1.36499 18.484C3.74902 18.4861 6.06491 17.7006 7.94047 16.2543C5.67491 16.2121 3.68821 14.7617 2.99418 12.6442C3.78781 12.7945 4.60555 12.7636 5.38451 12.5546C2.91451 12.0646 1.13749 9.93373 1.13749 7.45903C1.13749 7.43638 1.13749 7.41476 1.13749 7.39315C1.87346 7.79565 2.69749 8.01903 3.54039 8.04373C1.21402 6.51712 0.496925 3.47829 1.90176 1.10241C4.58983 4.3502 8.55588 6.32462 12.8134 6.53359C12.3867 4.728 12.9696 2.83594 14.3451 1.56668C16.4775 -0.401559 19.8313 -0.300677 21.8358 1.79212C23.0215 1.56256 24.158 1.13535 25.198 0.530058C24.8027 1.73344 23.9756 2.75565 22.8706 3.40521C23.92 3.28373 24.9453 3.00785 25.9109 2.58682C25.2001 3.6327 24.3047 4.54373 23.2689 5.27976Z"
              fill="#AAAAAA"
            />
          </svg>
        </a>
        <a href="https://medium.com/devprtcl">
          <svg
            width="38"
            height="21"
            viewBox="0 0 38 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0)">
              <path
                d="M21.1985 10.5018C21.1985 16.3018 16.4525 21.0035 10.601 21.0035C4.74958 21.0035 0 16.2983 0 10.5018C0 4.70525 4.74598 0 10.5974 0C16.4489 0 21.1985 4.7017 21.1985 10.5018Z"
                fill="#AAAAAA"
              />
              <path
                d="M32.8258 10.5017C32.8258 15.9617 30.4528 20.387 27.5252 20.387C24.5977 20.387 22.2247 15.9617 22.2247 10.5017C22.2247 5.0418 24.5977 0.616455 27.5252 0.616455C30.4528 0.616455 32.8258 5.0418 32.8258 10.5017Z"
                fill="#AAAAAA"
              />
              <path
                d="M37.579 10.5017C37.579 15.3912 36.7436 19.3559 35.7137 19.3559C34.6839 19.3559 33.8484 15.3912 33.8484 10.5017C33.8484 5.6122 34.6839 1.64746 35.7137 1.64746C36.7472 1.64392 37.579 5.60866 37.579 10.5017Z"
                fill="#AAAAAA"
              />
            </g>
            <defs>
              <clipPath id="clip0">
                <rect width="37.5789" height="21" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </a>
      </div>
      <a
        class="mt-4 text-lg font-mono"
        href="https://github.com/dev-protocol/community/blob/main/CODE_OF_CONDUCT.md"
        >Code of Conduct</a
      >
    </div>
  </div>

  <div
    class="
      lg:col-span-6
      flex flex-row
      font-mono
      justify-between
      sm:justify-around
      flex-wrap
      items-start
      col-span-full
      mt-14
      lg:mt-0
      font-semibold
    "
  >
    <ul class="leading-10 mx-2">
      <li>
        <ul>
          Products
        </ul>
      </li>
      <li>
        <a
          target="_blank"
          class="hover:text-white text-gray-400 opacity-70"
          href="http://stakes.social/"
          >Stakes.social</a
        >
      </li>
      <li>
        <a
          target="_blank"
          class="hover:text-white text-gray-400 opacity-70"
          href="https://github.com/dev-protocol/khaos"
          >Khaos Oracle</a
        >
      </li>
      <li>
        <a
          target="_blank"
          class="hover:text-white text-gray-400 opacity-70"
          href="https://github.com/dev-protocol/dev-kit-js"
          >Dev Kit</a
        >
      </li>
    </ul>
    <ul class="leading-10 mx-2">
      <li>
        <ul>
          Support
        </ul>
      </li>
      <li>
        <a
          target="_blank"
          class="hover:text-white text-gray-400 opacity-70"
          href="https://initto.devprotocol.xyz/"
          >Tutorials</a
        >
      </li>
      <li>
        <a
          target="_blank"
          class="hover:text-white text-gray-400 opacity-70"
          href="https://docs.devprotocol.xyz/"
          >Documentation</a
        >
      </li>
      <li>
        <a
          target="_blank"
          class="hover:text-white text-gray-400 opacity-70"
          href="https://discord.gg/VwJp4KM"
          >Discord</a
        >
      </li>
      <li>
        <a
          target="_blank"
          class="hover:text-white text-gray-400 opacity-70"
          href="https://community.devprotocol.xyz/"
          >Forum</a
        >
      </li>
    </ul>
    <ul class="leading-10 mx-2">
      <li>
        <ul>
          Protocol
        </ul>
      </li>
      <li>
        <a
          target="_blank"
          class="hover:text-white text-gray-400 opacity-70"
          href="https://govern.devprotocol.xyz/"
          >Govern</a
        >
      </li>
      <li>
        <a
          target="_blank"
          class="hover:text-white text-gray-400 opacity-70"
          href="https://github.com/dev-protocol"
          >GitHub</a
        >
      </li>
      <li>
        <a
          target="_blank"
          class="hover:text-white text-gray-400 opacity-70"
          href="https://github.com/dev-protocol/DIPs"
          >Proposals</a
        >
      </li>
    </ul>
  </div>
</footer>
