<footer
  class="grid grid-cols-12 bg-black px-10 py-14 text-white lg:px-20 lg:py-28"
>
  <div class="col-span-full mx-auto flex flex-col lg:col-span-6 lg:mx-0">
    <div>
      <img src="/assets/devlogo.svg" alt="" class="w-28" />
    </div>
    <div class="mt-10 flex flex-col">
      <p
        class="leading-2 font-mono font-medium tracking-normal text-gray-300 text-opacity-70 sm:w-96"
      >
        Dev Protocol is the core of the Decentralized Creator Economy,
        completely on-chain, 100% composable middleware protocol.
      </p>
      <div class="mt-6 flex">
        <a
          href="https://twitter.com/poweredbyClubs"
          title="Follow us on Twitter"
        >
          <img src="/assets/twitter.svg" alt="twitter_logo" />
        </a>
        <a href="https://medium.com/devprtcl" title="Follow us on Medium">
          <img src="/assets/medium.svg" alt="medium_logo" />
        </a>
      </div>
      <a
        class="mt-4 font-mono text-lg"
        href="https://github.com/dev-protocol/community/blob/main/CODE_OF_CONDUCT.md"
        >Code of Conduct</a
      >
    </div>
  </div>

  <div
    class="col-span-full mt-14 flex flex-row flex-wrap items-start justify-between font-mono font-semibold sm:justify-around lg:col-span-6 lg:mt-0"
  >
    <ul class="mx-2 leading-10">
      <li>
        <ul>Products</ul>
      </li>
      <li>
        <a
          target="_blank"
          class="text-gray-400 opacity-70 hover:text-white"
          href="https://stakes.social/">Stakes.social</a
        >
      </li>
      <li>
        <a
          target="_blank"
          class="text-gray-400 opacity-70 hover:text-white"
          href="https://github.com/dev-protocol/khaos">Khaos Oracle</a
        >
      </li>
      <li>
        <a
          target="_blank"
          class="text-gray-400 opacity-70 hover:text-white"
          href="https://github.com/dev-protocol/dev-kit-js">Dev Kit</a
        >
      </li>
    </ul>
    <ul class="mx-2 leading-10">
      <li>
        <ul>Support</ul>
      </li>
      <li>
        <a
          target="_blank"
          class="text-gray-400 opacity-70 hover:text-white"
          href="https://initto.devprotocol.xyz/">Tutorials</a
        >
      </li>
      <li>
        <a
          target="_blank"
          class="text-gray-400 opacity-70 hover:text-white"
          href="https://docs.devprotocol.xyz/">Documentation</a
        >
      </li>
      <li>
        <a
          target="_blank"
          class="text-gray-400 opacity-70 hover:text-white"
          href="https://discord.gg/VwJp4KM">Discord</a
        >
      </li>
      <li>
        <a
          target="_blank"
          class="text-gray-400 opacity-70 hover:text-white"
          href="https://community.devprotocol.xyz/">Forum</a
        >
      </li>
    </ul>
    <ul class="mx-2 leading-10">
      <li>
        <ul>Protocol</ul>
      </li>
      <li>
        <a
          target="_blank"
          class="text-gray-400 opacity-70 hover:text-white"
          href="https://govern.devprotocol.xyz/">Govern</a
        >
      </li>
      <li>
        <a
          target="_blank"
          class="text-gray-400 opacity-70 hover:text-white"
          href="https://github.com/dev-protocol">GitHub</a
        >
      </li>
      <li>
        <a
          target="_blank"
          class="text-gray-400 opacity-70 hover:text-white"
          href="https://github.com/dev-protocol/DIPs">Proposals</a
        >
      </li>
    </ul>
  </div>
</footer>
