<section
  class="my-16 flex p-4 lg:p-20 flex-col w-full justify-between items-center text-center lg:flex-row lg:justify-around lg:mt-0 m-auto lg:text-left">
  <div class="mb-12 lg:mx-12 p-4 lg:max-w-half">
    <h3 class="font-black font-display text-3xl">
      What do people say about Dev Protocol?
    </h3>
  </div>
  <div id="wom-viewer-plugin" class="bg-darkThird max-w-[300px] w-full max-h-[70vh] h-[600px] rounded-sm"></div>
</section>
<section
  class="my-16 flex p-4 lg:p-20 flex-col w-full justify-between items-center text-center lg:flex-row lg:justify-around lg:mt-0 m-auto lg:text-left">
  <div class="mb-12 lg:mx-12 p-4 lg:max-w-half">
    <h3 class="font-black font-display text-3xl mb-4">
      What do you think about Dev Protocol?
    </h3>
    <h4 class="font-display text-xl">Record a recommendation and earn wom!</h4>
  </div>
  <div id="wom-recorder" class="bg-darkThird max-w-[300px] w-full max-h-[70vh] h-[600px] rounded-sm overflow-y-scroll">
  </div>
</section>

<script>
  document.addEventListener('wom-viewer-init', () => {
    const params = {
      organizationPublicId: 'DEV PROTOCOL_619bbef3237f2c2d1f26ce9d',
      selector: '#wom-viewer-plugin',
      remoteProductId: 'D001',
      color: 'black',
      textColor: 'white',
    }

    window.wom.check(params).then(values => {
      console.log({ values });

      if (!values[0].isSuccess) {
        return console.log('womjs config success');
      }
    }).catch(console.error)

    window.wom.init(params);
  })

  document.addEventListener('bullz-recorder-init', () => {
    window.bullz.init({
      organizationPublicId: 'DEV PROTOCOL_619bbef3237f2c2d1f26ce9d',
      facilitatorld: 'DEV PROTOCOL_619bbef3237f2c2d1f26ce9d',
      publisher: 'Dev Protocol',
      selector: '#wom-recorder',
      background: 'https://stackroom.devprotocol.xyz/integration/wom/background.png',
      logo: 'https://stackroom.devprotocol.xyz/brand/dev-protocol__avatar-brandmark--white--w_980.png',
      color: 'white',
      backgroundColor: 'black',
      remoteProduct: {
        name: 'Dev Tokens',
        brand: 'Dev Protocol',
        publicld: 'D001',
        url: 'https://devprotocol.xyz/',
        imageUrl: 'https://stackroom.devprotocol.xyz/integration/wom/background.png',
      },
      isDev: true,
    })
  })
</script>
